<footer class='mx-auto max-w-screen-2xl text-gray-600'>
  <hr class='mx-3' />
  <div class='flex-center my-2 flex-row flex-wrap gap-3 px-10'>
    <div class='flex-grow text-center sm:max-w-[300px]'>
      <p class='text-xl font-bold'>Fi-Glance.</p>
      <p>All Your Banks in one place. Be smarter with you finances with
        Fi-Glance.</p>
    </div>
    <nav class='footer-links'>
      <ul>
        <li class='text-lg font-bold'>Dashboard</li>
        <li><a class='footer-link' href='/dashboard'>Your Dashboard</a></li>
        <li><a
            class='footer-link'
            href='/dashboard/recurring'
          >Recurring</a></li>
        <li><a class='footer-link' href='/dashboard/transactions'>Transactions</a></li>
      </ul>
      <ul>
        <li class='text-lg font-bold'>Legal</li>
        <li><a
            title='Currently Unavailable'
            class='text-secondary line-through'
            {{! href='/legal/privacy' }}
          >Privacy</a></li>
        <li><a
            title='Currently Unavailable'
            class='text-secondary line-through'
            {{! href='/legal/terms' }}
          >T.O.S.</a></li>
      </ul>
      <ul>
        <li class='text-lg font-bold'>Contact</li>
        <li><a class='footer-link' href='/about'>About</a></li>
      </ul>
    </nav>
  </div>
  <hr class='mx-3' />
  <div class='flex-between px-5'>
    <small class='font-medium leading-snug text-gray-700'>© 2023 Fi-Glance. All
      rights reserved.</small>
    <div class='flex-center gap-4 px-2 py-2.5'>

      <div class='footer-icons'>
        <a
          class='m-auto'
          target='_blank'
          href='https://github.com/ghiasnaser/Personal-Finance-Manager'
        >
          <span class='sr-only'>Company Github Page</span>
          <i class='fa-brands fa-github fa-2xl' style='color: gray;'></i>
        </a>
      </div>
      <div class='footer-icons'>
        <a
          class='m-auto'
          target='_blank'
          href='https://github.com/ghiasnaser/Personal-Finance-Manager'
        >
          <span class='sr-only'>Company Instagram Page</span>
          <i class='fa-brands fa-instagram fa-2xl' style='color: gray;'></i>
        </a>
      </div>
      <div class='footer-icons'>
        <a
          class='m-auto'
          target='_blank'
          href='https://github.com/ghiasnaser/Personal-Finance-Manager'
        >
          <span class='sr-only'>Company Twitter Page</span>
          <i class='fa-brands fa-twitter fa-2xl' style='color: gray;'></i>
        </a>
      </div>

    </div>
  </div>
</footer>