<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />

  {{! Tailwind CSS CDN }}
  <script src='https://cdn.tailwindcss.com'></script>

  {{! FontAwesome Icons Kit }}
  <script
    src='https://kit.fontawesome.com/2773baef5c.js'
    crossorigin='anonymous'
  ></script>

  {{! Chart.js jsDelivr CDN }}
  <script src='https://cdn.jsdelivr.net/npm/chart.js'></script>

  {{! Tailwind Config }}
  {{! prettier-ignore}}
  <script>
      tailwind.config = {
        content: ['./views/**/*.{html,js,hanblebars}', './public/**/*.{html,js,css}'],
        theme: {
          extend: {
            colors: {
              clifford: '#da373d',
              'light-blue': '#85d7ff',
              cyan: '#79ffe1',
            },
          },
        }
      }
    </script>

  {{! Tailwind Styles }}
  {{! prettier-ignore}}
  <style type='text/tailwindcss' >

      @layer utilities { 
        .content-auto {
          content-visibility: auto; 
        }

        .gradientBg-light {
          background-image: url(/images/hero-bg-light.svg);
          -webkit-mask: linear-gradient(0deg, #f3f4f600 0%,#000000 15% , #000000 85%, #f3f4f600 92%), linear-gradient(90deg, #f3f4f600 0%,#000000 15% , #000000 85%, #f3f4f600 92%);
          mask: linear-gradient(0deg, #f3f4f600 0%,#000000 15% , #000000 85%, #f3f4f600 92%), linear-gradient(90deg, #f3f4f600 0%,#000000 15% , #000000 85%, #f3f4f600 92%);

        }
        .gradientBg {
          background-image: url(/images/hero-bg.svg);
          -webkit-mask: linear-gradient(0deg, #f3f4f600 0%,#000000 15% , #000000 85%, #f3f4f6 92%);
          mask: linear-gradient(0deg, #f3f4f600 0%,#000000 15% , #000000 85%, #f3f4f6 92%);
        }
      }
      
      /*  Tailwind UI Components | Use These class names to style your components with all the styles after the `@apply` keyword. */
      @layer components {
        .text-secondary {
          @apply mt-6 mb-6 text-lg leading-8 text-gray-600;
        }
        .text-secondary-sm {
          @apply space-y-8 text-base leading-7 text-gray-600;
        }

        .heading-1 {
          @apply mt-2 text-5xl font-bold tracking-tight text-gray-900 sm:text-6xl;
        }
        .heading-2 {
          @apply mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl;
        }
        .heading-3 {
          @apply mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl;
        }

        .heading-info-1 {
          @apply mt-2 text-3xl font-bold tracking-tight text-indigo-500 sm:text-5xl;
        }
        .heading-info-2 {
          @apply mt-2 text-2xl font-bold tracking-tight text-indigo-500 sm:text-3xl;
        }
        .flex-center {
          @apply flex justify-center items-center;
        }

        .flex-between {
          @apply flex justify-between items-center;
        }

        .link {
          @apply px-3 py-2 rounded-md underline underline-offset-2 hover:underline-offset-4 text-slate-600 hover:text-slate-700 hover:bg-slate-200/60;
        }

        .focus-ring {
          @apply focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800;
        }

        .btn-primary {
          @apply bg-blue-500 text-white font-bold py-1 px-2 rounded hover:bg-blue-700;
        }

        .btn-danger {
          @apply bg-red-500 text-white font-bold py-1 px-2 rounded hover:bg-red-700;
        }
        .btn-success {
          @apply bg-green-500 text-white font-bold py-1 px-2 rounded hover:bg-green-700;
        }
        .btn-secondary {
          @apply bg-gray-500 text-white font-bold py-1 px-2 rounded hover:bg-gray-700;
        }
        .btn-info {
          @apply bg-indigo-500 text-white font-bold py-1 px-2 rounded hover:bg-indigo-700;
        }
        .btn-warning {
          @apply bg-yellow-500 text-white font-bold py-1 px-2 rounded hvoer:bg-yellow-700;
        }

        .mobile-nav-link {
          @apply text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium;
        }

        .mobile-nav-link-active {
          @apply bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium;
        }

        .profile-dropdown-links {
          @apply block px-2 py-2 text-sm text-gray-700 hover:bg-gray-100;
        }

        .profile-dropdown-links-disabled {
          @apply block px-2 py-2 text-sm bg-slate-200 text-gray-500 pointer-events-none;
        }

        .footer-link {
          @apply underline hover:underline-offset-2 text-indigo-600 hover:text-indigo-400 font-normal;
        }
        .footer-links {
          @apply grid grid-flow-row flex-wrap flex-grow gap-3 justify-evenly sm:grid-flow-col;
        }

        .footer-icons {
          @apply w-12 h-12 bg-white rounded-full shadow flex justify-center
        }

        .home-section {
          @apply mb-12 m-auto grid items-center justify-between gap-10 max-w-screen-xl px-4 sm:grid-flow-col sm:gap-52 sm:px-20;
        }

        .home-section-gradient {
          @apply absolute top-0 -z-10 rounded-full -left-[15%] aspect-square h-full bg-gradient-to-tl from-purple-600 via-purple-600 to-rose-600;
        }

        .section-icon-sm {
          @apply absolute left-1 top-1 text-indigo-600;
        }
        .section-icon-md {
          @apply absolute left-1 top-1 text-indigo-600 text-2xl;
        }

        .section-icon-lg {
          @apply absolute -left-1 top-2 text-indigo-600 text-4xl;
        }

      }
    </style>
  <title>Fi-Glance</title>
</head>