<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  {{! FontAwesome Icons Kit }}
  <script
    src='https://kit.fontawesome.com/2773baef5c.js'
    crossorigin='anonymous'
  ></script>

  {{! Plaid Link Initialization }}
  <script
    src='https://cdn.plaid.com/link/v2/stable/link-initialize.js'
  ></script>

  {{! Chart.js jsDelivr CDN }}
  <script src='https://cdn.jsdelivr.net/npm/chart.js'></script>

  {{! Link to Tailwind CSS Classes }}
  <link rel='stylesheet' href='/css/style.css' />
  <title>Fi-Glance</title>
</head>