<div class='gradientBg overflow-hidden bg-white pt-10 pb-24 sm:pb-32'>
  <div class='mx-auto max-w-7xl px-6 lg:px-8'>
    <div
      class='mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2'
    >
      <div class='bg-white/50 rounded-md px-4 pb-3 lg:pr-8 lg:pt-4'>
        <div class='m-auto lg:max-w-lg'>
          <h2 class='text-base font-semibold leading-7 text-indigo-600'>Track
            Finances</h2>
          <p class='heading-2'>A <em>Smarter</em> way of banking</p>
          <p class='text-secondary'>Connect all your banks
            in one place with Fi-Glance where we do all the tracking for you and
            you just sit back and watch your money be combined and structured in
            a way for you to understand.</p>
          <dl
            class='mt-10 max-w-xl text-secondary-sm lg:max-w-none'
          >
            <div class='relative pl-9'>
              <dt class='inline font-semibold text-gray-900'>
                <i class='section-icon-sm fa-solid fa-money-bill-trend-up'></i>
                Watch That Money Grow
              </dt>
              <small>(or not 😥)</small>.
              <dd class='inline'>With Us you'll be able to see how much spending
                youv'e done through out a specific time period, You can even setup budgets for yourself and we'll notify you when you're close to reaching it.</dd>
              </dd>
            </div>
            <div class='relative pl-9'>
              <dt class='inline font-semibold text-gray-900'>
                <i class='section-icon-sm fa-solid fa-building-columns'></i>
                Connect All Your Banks.
              </dt>
              <dd class='inline'>Connect Multiple Banks and multiple accounts so
                that you can view them all in one place with all their data
                being bundled together.</dd>
            </div>
            <div class='relative pl-9'>
              <dt class='inline font-semibold text-gray-900'>
                <i class="section-icon-sm fa-solid fa-lock"></i>
                Security.
              </dt>
              <dd class='inline'>We Keep your data safe and secure. No one but
                you has access to your accounts. Not even us. We just know the
                structure of data and present it to you in a prettier format.</dd>
            </div>
          </dl>
        </div>
      </div>
      <img
        src='/images/product-design-example.png'
        alt='Product screenshot'
        class='w-[30rem] max-w-none rounded-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0'
        width='2432'
        height='1442'
      />
    </div>
  </div>
</div>