<main>
  <div>
  <canvas id="myChart"></canvas>
</div>
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        type: 'bar',
        label: '# of Votes',
        data: [12, 40, 3, 5, 2, 3],
        borderWidth: 1
      }, {
        type: 'line',
        label: '# of Points',
        data: [12, 40, 3, 5, 2, 3],
        tension: 0.3,
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
</main>