<main>
	<h1>Fi-Glance: A Smarter Way of Banking</h1>
	<p>Here at Fi-Glance, we have established a framework that helps you manage your financial health and reach your financial goals.
	 You can get started by first, signing up and logging in. Once you're in, connect your Fi-Glance account
	 to your financial institution(s). You can connect as many accounts as you want so you can view the current
	 status of each account at one time. Don't worry, we do keep your data safe and secure. 

        <h2>Here's what we can do for you:</h2>
        Now, let's get down to the nitty gritty. Here are the specifics of how Fi-Glance can help your finances:

        <ul>
            <li>Improve your spending habits by viewing a detailed breakdown of your expenses</li>
            <li>Track your savings</li>
            <li>Establish a budget and receive notifications when it is nearing completion</li>
            <li>Manage all of your monthly subscriptions in one place and let us know if you want to cancel any - we'll do it for you!</li>
            <li>We constantly strive to identify and integrate the latest enhancements into this financial management system, as there is immense potential for expansion.</li>
        </ul>

        To provide any suggestions or improvements or if you just want to share what you would like to potentially see us integrate in the future,
        reach out to the programmers and creators of Fi-Glance. 

        We look forward to hearing from you!

        <ahref="https://github.com/NateAyye">Nathan Cuevas</a>
        <ahref="https://github.com/beasaddress">Beatriz Sandoval</a>
        <ahref="https://github.com/ghiasnaser">Ghias Naser</a>
        <ahref="https://github.com/techmack92">Me'Chelle Dixon</a>
	 
    </p>
</main>
