<main class='flex min-h-full flex-col justify-center px-6 py-12 lg:px-8'>
  <div class='sm:mx-auto sm:w-full sm:max-w-sm'>
    <div class='mx-auto'>
      {{> logo}}
    </div>
    <h2
      class='mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900'
    >
      {{#if signUp}}
        Create a new account
      {{else}}
        Sign in to your account
      {{/if}}
    </h2>
  </div>

  <div class='mt-10 sm:mx-auto sm:w-full sm:max-w-sm'>
    <form class='space-y-6' action='#' method='POST'>

      {{#if signUp}}
        <div>
          <label
            for='first-name'
            class='block text-sm font-medium leading-6 text-gray-900'
          >First Name</label>
          <div class='mt-2'>
            <input
              id='first-name'
              name='first-name'
              type='first-name'
              autocomplete='given-name'
              required
              class='input'
            />
          </div>
        </div>
      {{/if}}

      <div>
        <label
          for='email'
          class='block text-sm font-medium leading-6 text-gray-900'
        >Email address</label>
        <div class='mt-2'>
          <input
            id='email'
            name='email'
            type='email'
            autocomplete='email'
            required
            class='input'
          />
        </div>
      </div>

      <div>
        <div class='flex-between'>
          <label
            for='password'
            class='block text-sm font-medium leading-6 text-gray-900'
          >Password</label>
        </div>
        <div class='mt-2'>
          <input
            id='password'
            name='password'
            type='password'
            autocomplete='current-password'
            required
            class='input'
          />
        </div>
      </div>

      <div>
        <button
          type='submit'
          class='btn-info flex w-full justify-center rounded-md py-2'
        >
          {{#if signUp}}
            Create new account
          {{else}}
            Sign in
          {{/if}}
        </button>
      </div>
    </form>
    {{#if signUp}}
      <p class='mt-6 text-center text-sm text-gray-500'>
        Already Signed Up?&nbsp;
        <a
          href='/login'
          class='font-semibold leading-6 text-indigo-600 hover:text-indigo-500'
        >Login Here!!</a>
      </p>
    {{else}}
      <p class='mt-6 text-center text-sm text-gray-500'>
        Not Signed Up?&nbsp;
        <a
          href='/sign-up'
          class='font-semibold leading-6 text-indigo-600 hover:text-indigo-500'
        >Sign Up Here!!</a>
      </p>
    {{/if}}
  </div>
  {{#if signUp}}
    <script src='/js/sign-up'></script>
  {{else}}
    <script src='/js/login'></script>
  {{/if}}
</main>