<main>
  {{> hero}}
  <section class='home-section'>
    <div class='max-w-xl'>
      <p class='heading-3'>Get Control Over Your Subscriptions</p>
      <p class='text-secondary'>Never pay for an unwanted subscription again.
        Fi-Glance instantly finds and tracks your subscriptions. Your concierge
        is there when you need them to cancel services so you don’t have to.</p>
      <a href='/dashboard/recurring' class='link'>Learn More &rightarrow;</a>
    </div>
    <div class='relative justify-self-center'>
      <img src='/images/person-1.png' alt='' />
      <span class='home-section-gradient'></span>
    </div>
  </section>
  <section class='home-section'>
    <div class='relative order-last justify-self-center sm:order-none'>
      <img src='/images/person-2.png' alt='' />
      <span class='home-section-gradient'></span>
    </div>
    <div class='max-w-xl'>
      <p class='heading-3'>Stay On Top Of Your Spending</p>
      <p class='text-secondary'>Get an effortless breakdown of your finances to
        see where your money is going and how to improve. We’ll notify you of
        important events that need your attention so you’re never caught off
        guard.</p>
      <a href='/dashboard/spending' class='link'>Learn More &rightarrow;</a>
    </div>
  </section>
  <section class='home-section'>
    <div class='max-w-xl'>
      <p class='heading-info-1'>Get Started</p>
      <p class='text-secondary'>Never pay for an unwanted subscription again.
        Fi-Glance instantly finds and tracks your subscriptions. Your concierge
        is there when you need them to cancel services so you don’t have to.</p>
      <a href='/sign-up' class='link'>Learn More &rightarrow;</a>
    </div>
    <div class='relative justify-self-center'>
      <a class='btn-info rounded-lg px-8 py-4 text-xl' href='/sign-up'>Sign Up
        &rightarrow;</a>
    </div>
  </section>
</main>