<main>
  <div class='gradientBg overflow-hidden bg-white pb-24 pt-10 sm:pb-32'>
    <div class='mx-auto max-w-7xl px-6 lg:px-8'>
      <div
        class='mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2'
      >
        <div class='rounded-md bg-white/50 px-4 pb-3 lg:pr-8 lg:pt-4'>
          <div class='m-auto lg:max-w-lg'>
            <h2 class='text-base font-semibold leading-7 text-indigo-600'>Track
              Finances</h2>
            <p class='heading-2'>A <em>Smarter</em> way of banking</p>
            <p class='text-secondary'>Connect all your banks in one place with
              Fi-Glance where we do all the tracking for you and you just sit
              back and watch your money be combined and structured in a way for
              you to understand.</p>
            <dl class='text-secondary-sm mt-10 max-w-xl lg:max-w-none'>

              <div class='relative pl-9'>
                <dt class='inline font-semibold text-gray-900'>
                  <i
                    class='section-icon-sm fa-solid fa-money-bill-trend-up'
                  ></i>
                  Watch That Money Grow
                </dt>
                <small>(or not 😥)</small>.
                <dd class='inline'>With Us you'll be able to see how much
                  spending youv'e done through out a specific time period, You
                  can even setup budgets for yourself and we'll notify you when
                  you're close to reaching it.</dd>
              </div>
              <div class='relative pl-9'>
                <dt class='inline font-semibold text-gray-900'>
                  <i class='section-icon-sm fa-solid fa-building-columns'></i>
                  Connect All Your Banks.
                </dt>
                <dd class='inline'>Connect Multiple Banks and multiple accounts
                  so that you can view them all in one place with all their data
                  being bundled together.</dd>
              </div>
              <div class='relative pl-9'>
                <dt class='inline font-semibold text-gray-900'>
                  <i class='section-icon-sm fa-solid fa-lock'></i>
                  Security.
                </dt>
                <dd class='inline'>We Keep your data safe and secure. No one but
                  you has access to your accounts. Not even us. We just know the
                  structure of data and present it to you in a prettier format.</dd>
              </div>
            </dl>
          </div>
        </div>
        <img
          src='/images/product-design-example.png'
          alt='Product screenshot'
          class='w-[30rem] max-w-none rounded-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0'
          width='2432'
          height='1442'
        />
      </div>
    </div>
  </div>
  <section class='home-section'>
    <div class='max-w-xl'>
      <p class='heading-3'>Get Control Over Your Subscriptions</p>
      <p class='text-secondary'>Never pay for an unwanted subscription again.
        Fi-Glance instantly finds and tracks your subscriptions. Your concierge
        is there when you need them to cancel services so you don’t have to.</p>
      <a href='/dashboard/recurring' class='link'>Learn More &rightarrow;</a>
    </div>
    <div class='relative justify-self-center'>
      <img src='/images/person-1.png' alt='' />
      <span class='home-section-gradient'></span>
    </div>
  </section>
  <section class='home-section'>
    <div class='relative order-last justify-self-center sm:order-none'>
      <img src='/images/person-2.png' alt='' />
      <span class='home-section-gradient'></span>
    </div>
    <div class='max-w-xl'>
      <p class='heading-3'>Stay On Top Of Your Spending</p>
      <p class='text-secondary'>Get an effortless breakdown of your finances to
        see where your money is going and how to improve. We’ll notify you of
        important events that need your attention so you’re never caught off
        guard.</p>
      <a href='/dashboard/spending' class='link'>Learn More &rightarrow;</a>
    </div>
  </section>
  <section class='home-section'>
    <div class='max-w-xl'>
      <p class='heading-info-1'>Get Started</p>
      <p class='text-secondary'>Never pay for an unwanted subscription again.
        Fi-Glance instantly finds and tracks your subscriptions. Your concierge
        is there when you need them to cancel services so you don’t have to.</p>
      <a href='/sign-up' class='link'>Learn More &rightarrow;</a>
    </div>
    <div class='relative justify-self-center'>
      <a class='btn-info rounded-lg px-8 py-4 text-xl' href='/sign-up'>Sign Up
        &rightarrow;</a>
    </div>
  </section>
</main>